
.headerAll .header {
  background-color: #D2B48C;
  padding: 15px 0;
}

.headerAll .top-section {
  max-width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.headerAll .notifications,
.headerAll .support,
.headerAll .auth {
  margin-right: 20px;
  color: white !important;

}
.headerAll .img img {
  max-width: 50px;
  max-height: 50px;
  position: relative; 
  left: 300px; 
  margin-right: 150px;
}

.headerAll .bottom-section {
  max-width: 90%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.headerAll .search {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: auto; 
  margin-right: 10px;
}

.headerAll .search input {
  flex: 1;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 10px;
  height: 30px;
}

.headerAll .search-button {
  background-color: #000;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.headerAll .cart {
  margin-right: auto;
}


.headerAll .NavLink {
  text-decoration: none; 
  color: white; 
}

.headerAll .NavLink:hover {
  
  color: rgb(55, 53, 34);  
}